---
title: Font-Awesome Middleman
---

.welcome
  %h1 Font-Awesome Middleman
  %p.doc
    %i.icon-thumbs-up
    %i.icon-adjust
    %i.icon-coffee
    %i.icon-flag
    %i.icon-camera
    %i.icon-food
    %i.icon-search