---
title: Font-Awesome Middleman
---

.welcome
  %h1 Font-Awesome Middleman
  %p.doc
    %i.fa.fa-thumbs-up
    %i.fa.fa-adjust
    %i.fa.fa-coffee
    %i.fa.fa-flag
    %i.fa.fa-camera
    %i.fa.fa-search